body {
    font-family: Arial, sans-serif;
    background-color: #a1a1a1;
}
h1 {
    color: #c4c4c4;
}
#accommodation-container {
    background: #8b8b8b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
ol {
    list-style-type: none;
    padding: 0;
}
li {
    background: #242424;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.nested-list {
    list-style-type: disc; /* Ensure bullets are shown */
    text-decoration: none;
    font-size: 14px;
}
.loading {
    color: #777;
}
li.title {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
}
.features {
    font-weight: lighter;
    font-size: small;
    text-align: right;
}
.enquire-btn {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin-left: 400px;
    padding: 5px 30px 5px 30px;
    border-radius: 15px;
    cursor: pointer;
}