* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

div.topnav {
  overflow: hidden;
  background-color:#2196F3;
}

div.topnav a { /*Information regarding navbar*/
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 64px;
  text-decoration: none;
  font-size: 17px;
}

div.topnav a:hover {
  background-color: #ddd;
  color: black;
}

div.topnav a.active {
  background-color: #2196F3;
  color: white;
}

div.topnav div.search-container {
  float: right;
}

div.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

div.topnav div.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

div.topnav div.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
    div.topnav div.search-container {
    float: none;
  }
  div.topnav a, div.topnav input[type=text], div.topnav div.search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  div.topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}