head{font-family: Arial; text-align: center; font-size: 72;}
body {
background-color: pink;
}

li{
display: inline;
padding-left: 25px;
padding-right: 25px;
padding-top: 10px;
padding-bottom: 10px;
margin-left: 10px;
margin-right: 10px;
background-color: brown;
border-radius: 5px;
}


a{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: large;
color: white;
}

a:hover{
text-decoration: underline;
color: crimson;
}